
body{
  background-image: url(images/img_back.png);
}
#page{
  width: 980px;
  margin: 0 auto;
  background-color: lightyellow;
  padding: 30px;
}

.header{
  background-image: url(images/img_head.png);
  margin-bottom: 20px;
  padding-top: 20px;
}
.title{
  font-size: 50px;
  color: red;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0 -1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
  text-align: center;
}

.path{
  border-top: solid 1px #CCCCCC;
  font-size: 18px;
  width: 940px;
  padding: 5px;
}

.nav{
  width: 220px;
  float: left;
  background-color: white;
  margin-top: 10px;
}
.menu{
  position: relative;
  text-align: left;
  background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  color: white;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
}
.nav_list{
  margin: 0;
	padding: 0;
	list-style-type: none;
}
.nav_list li{
  text-align: center;
  border-right: solid 1px #9f9f9f;
  border-bottom: solid 1px #9f9f9f;
  border-left: solid 1px #9f9f9f;
  padding: 10px 5px 10px 5px;
}
.nav_list li a{
  color: tomato;
  text-decoration: none;
  display: block;
}
.nav_list li a:hover,
.nav_list li.current a{
  background-color: bisque;
}

.main{
  width: 720px;
  float: right;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 50px;
}
p{font-size: 18px; }
h2{
  border-bottom: solid 3px skyblue;
  position: relative;
}
h2:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ffc778;
  bottom: -3px;
  width: 30%;
}

table{
  font-size: 14px;
  line-height: 1.429;
  border: 1px solid #cccccc;
  border-collapse: collapse;
  width: 60%;
  margin: 40px auto;
}
table th, table td{
  border: 1px solid #cccccc;
  padding: 5px 10px;
}
table th{
  background-color: #EEEEEE;
  text-align: left;
}

.footer{
  border-top: solid 3px orange;
  clear: both;
  padding-bottom: 10px;
  background-color: lightgray;
}
